cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
enum==0.4.6
enum34==1.1.6
futures==3.2.0
get==0.0.39
google-api-core==1.1.0
google-auth==1.4.1
google-cloud-core==0.28.1
google-cloud-storage==1.8.0
google-cloud-vision==0.30.1
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpcio==1.10.0
idna==2.6
Pillow==5.0.0
post==0.0.26
protobuf==3.5.2
public==0.0.65
pyasn1==0.4.2
pyasn1-modules==0.2.1
pytz==2018.3
query-string==0.0.28
request==0.0.26
requests==2.18.4
rsa==3.4.2
six==1.11.0
urllib3==1.22
